<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXQTJJMxph0uPYTOu2uqaODGdEO-WDlhk</string>
	<key>GCM_SENDER_ID</key>
	<string>1032430561578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gozarides</string>
	<key>PROJECT_ID</key>
	<string>gozarides-5e916</string>
	<key>STORAGE_BUCKET</key>
	<string>gozarides-5e916.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032430561578:ios:9be0fc9eca61ceaed21653</string>
</dict>
</plist>